@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}
/*navbar inicio       */
.navbar{
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 30px 0;
	font-family: 'Ubuntu', sans-serif;
	transition: all 0.3s ease;
}
.navbar.sticky{
	background: yellow;
	padding: 15px 0;
}
.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
	}
.navbar .logo a{
	color: black;
	font-size: 35px;
	font-weight: 500;
} 
.navbar .logo a span{
	color: yellow;
	transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
	color: black;
}
.navbar .menu li{
	list-style: none;
	display: inline-block;
}
.navbar .menu li a{
	color: black;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}
.navbar .menu li a:hover{
	color: yellow;
}
.navbar.sticky .menu li a:hover{
	color: black;
}
/*--home--inicio*/
.home{
	display: flex;
	background: purple;
	height: 100vh;
	color: black;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
	margin: auto 0 auto 40px;
}
.home .home-content .text-1{
	font-size: 27px;
}
.home .home-content .text-2{
	font-size: 75px;
	font-weight: 500;
	margin-left: 3px;
}
.home .home-content .text-3{
	font-size: 40px;
	margin: 5px 0;
}
.home .home-content .text-3 span{
	color: yellow;
	font-weight: 500;
}
.home .home-content a{
	display: inline-block;
	background: yellow;
	color: black;
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid yellow;
}
.home .home-content a:hover{
	color: yellow;
	background: none;
}

/*--Menu Mobile--*/
.menu-btn{
	color: black;
	font-size: 26px;
	cursor: pointer;
	display: none;
}

/*--Todos os codigos similares--*/
section{
	padding: 100px 0;
}
section .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}
section .title::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: purple;
	transform: translateX(-50%);
}
section .title::after{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	font-size: 20px;
	background: black;
	color: skyblue;
	padding: 5px;
	transform: translateX(-50%);
}
.about, .services, .skills, .teams{
	font-family: 'Roboto', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.teams .teams-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/*--Sessao sobre--*/

.about .title::after{
	content: "";
}
.about .about-content .left{
	width: 45%;
}
.about .about-content .right{
	width: 55%;
}
.about .about-content .right .text{
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 10px;
}
.about .about-content .right .text span{
	color: yellow;
}
.about .about-content .right p{
	text-align: justify;
}
.about .about-content .right a{
	display: inline-block;
	background: yellow;
	color: black;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid skyblue;
	transition: all 0.3s ease;
}
.about .about-content .right a:hover{
	color: yellow;
	background: none;
}
.about .about-content .left img{
	width: 400px;
	height: 400px;
	object-fit: cover;
	border-radius: 6px;
}

/*--sessao servicos--*/
.services, .teams{
	background: purple;
	color: black;
}
.services .title::before,
.teams .title: :before{
	background: black;
}
.services .title::after,
.teams .title::after{
	background: purple;
}
.services .serv-content .card{
	width: calc(33% - 20px);
	background: skyblue;
	text-align: center;
	border-radius: 6px;
	padding: 20px 25px;
	cursor: pointer;
	transition: all 0.3s ease;
	border: 2px solid skyblue;
}
.services .serv-content .card:hover{
	color: yellow;
	background: none;
}
.services .serv-content .card .box{
	transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
	transform: scale(1.05);
}
.services .serv-content .card ion-icon{
	font-size: 70px;
	color: black;
}
.services .serv-content .card:hover ion-icon{
	color: yellow;
}
.services .serv-content .card .text{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}

/*--Sessao conhecimento Skills--*/
.skills .title:after{
	content: "";
}
.skills .skills-content .column{
	width: calc(50% - 30px);
}
.skills .skills-content .left .text{
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 10px;
}
.skills .skills-content .left p{
	text-align: justify;
	padding: 5px;
}
.skills .skills-content .left a{
	display: inline-block;
	background: yellow;
	color: black;
	font-size: 20px;
	font-weight: 500;
	padding: 8px 16px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid skyblue;
	transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
	color: yellow;
	background: none;
}

.skills .skills-content .right .bars{
	margin-bottom: 15px;
}
.skills .skills-content .right .info{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.skills .skills-content .right span{
	font-weight: 500;
	font-size: 18px;
}
.skills .skills-content .right .line{
	width: 100%;
	height: 5px;
	background: grey;
	position: relative;
}
.skills .skills-content .right .line::before{
	content: "";
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	background: yellow;
}
.skills .skills-content .right .html::before{
	width: 90%;
}
.skills .skills-content .right .css::before{
	width: 60%;
}
.skills .skills-content .right .python::before{
	width: 65%;
}
.skills .skills-content .right .c::before{
	width: 50%;
}

/*--Sessao Equipe/Projetos--*/
.teams .title::after{
	content: "";
}
.teams .carousel .card{
	background: yellow;
	border-radius: 6px;
	padding: 25px 35px;
	text-align: center;
}
.teams .carousel .card img{
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 20%;
	border: 5px solid purple;
}
.teams .carousel .card .box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.teams .carousel .card .text{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}

/*--Responsivo--*/
@media (max-width: 1300px){
	.navbar .max-width{
		margin-left: 0;
	}
}
@media (max-width: 1104px){
	.about .about-content .left img{
		width: 350px;
		height: 350px;
	}
}
@media (max-width: 991px){
	.navbar .max-width{
		padding: 0 50px;
	}
}
@media (max-width: 947px){
	.max-width{
		max-width: 800px;
		padding: 0 50px;
	}
	.menu-btn{
		display: block;
		z-index: 999;
	}
	.navbar .menu{
		position: fixed;
		width: 100%;
		height: 100vh;
		left: -100%;
		top: 0;
		background: purple;
		padding-top: 80px;
		text-align: center;
		transition: all 0.3s ease;
	}
	.navbar .menu.active{
		left: 0;
	}
	.navbar .menu li{
		display: block;
	}
	.navbar .menu li a{
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}
	.home .home-content .text-2{
		font-size: 70px;
	}
	.home .home-content .text-3{
		font-size: 35px;
	}
	.home .home-content a{
		font-size: 23px;
		padding: 10px 30px;
	}
	.about .about-content .column{
		width: 50%;
	}
	.about .about-content .left{
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.about .about-content .right{
		flex: 100%;
	}
	.services .serv-content .card{
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.skills .skills-content .column{
		width: 100%;
		margin-bottom: 35px;
	}
}
@media (max-width: 690px){
	.home .home-content .text-2{
		font-size: 60px;
	}
	.home .home-content .text-3{
		font-size: 32px;
	}
	.home .home-content a{
		font-size: 20px;
	}
	.services .serv-content .card{
	width: 100%;
	}
}
@media (max-width: 500px){
	.home .home-content .text-2{
		font-size: 50px;
	}
	.home .home-content .text-3{
		font-size: 32px;
	}
}